= form_with(model: doc, local: true) do |form|
  - if doc.errors.any?
    #error_explanation
      %h2
        = pluralize(doc.errors.count, "error")
        prohibited this doc from being saved:
      %ul
        - doc.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :type
    = form.text_field :type
  .field
    = form.label :number
    = form.text_field :number
  .field
    = form.label :name
    = form.text_area :name
  .actions
    = form.submit
