%p#notice= notice
%h1
  Docs
  %i.fa.fa-flag{"aria-hidden" => "true"}
%table
  %thead
    %tr
      %th Type
      %th Number
      %th Name
      %th{:colspan => "3"}
  %tbody
    - @docs.each do |doc|
      %tr
        %td= doc.type
        %td= doc.number
        %td= doc.name
        %td= link_to 'Show', doc
        %td= link_to 'Edit', edit_doc_path(doc)
        %td= link_to 'Destroy', doc, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Doc', new_doc_path
